<div ng-controller="GameController" style="padding-bottom:40px;">
    <div ng-show="message" style="position:fixed;" class="alert"
        ng-class="{  'alert-success': alertType=='success', 
                     'alert-info': alertType=='info', 
                     'alert-warning': alertType=='warning', 
                     'alert-danger': alertType=='danger'}"> {{message}}</div>
    <h2>Turn: <img style="vertical-align: text-bottom;" ng-src='res/tile_{{current_player}}.png'></h2>

    <div ng-repeat="row in getNumber($root.height)">
        <cf-tile ng-repeat="col in getNumber($root.width)"
            tile-row="row"
            tile-col="col">
        </cf-tile>
    </div>
</div>
